<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Space Clock</title>
		<link rel="stylesheet" type="text/css" href="styles/mystyle.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
		<script src="scripts/main.js" defer></script>
	</head>
	<body>
		<section id = "pageTitle">
			<div class = "contentWrap">
				<h1>Space Clock</h1>
			</div>
		</section>

		<main>
			<div id = "clock">
				<div class = "label">Now</div>
				<div class = "time">
					<p id = "amsterdamTime"></p>
					<p id = "londonTime"></p>
					<p id = "tokyoTime"></p>
				</div>
				<div class = "date">
					<p id = "amsterdamToday"></p>
					<p id = "londonToday"></p>
					<p id = "tokyoToday"></p>
				</div>
			</div>
		</main>	

			<footer>
        <div class="footer-wrap">
            <p class = footerText>Copyright 2019 by Chiho Shinozaki</p>
        </div>
    </footer>
	</body>
	</html>