<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Space Clock</title>
		<link rel="stylesheet" type="text/css" href="styles/mystyle.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
		<script src="scripts/main.js" defer></script>
		<link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
	</head>
	<body>
		<section id = "pageTitle">
			<div class = "contentWrap">
				<ul>
					<li>S</li>
					<li>P</li>
					<li>A</li>
					<li>C</li>
					<li>E</li>
					<li>C</li>
					<li>L</li>
					<li>O</li>
					<li>C</li>
					<li>K</li>
				</ul>
			</div>
		</section>

		<main>
			<div id = "clock">
				<p id="description">Amsterdam</p>

				<div id = "label" class = "labelAmsterdam">
					<div class = "location">
						<p id = "location"></p>
					</div>
					<div class = "time">
						<p id="time"></p>
					</div>
					<div class = "date">
						<p id="today"></p>
					</div>
				</div>

				<div class = "button">
					<input type = "button" id = "amsterdam" value = "Amsterdam">
					<input type = "button" id = "london" value = "London">
					<input type = "button" id = "tokyo" value = "Tokyo">
				</div>


			</div>
		</main>	

			<footer>
        <div class="footer-wrap">
            <p class = footerText>Copyright 2019 by Chiho Shinozaki</p>
        </div>
    </footer>
	</body>
	</html>